@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #191970;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
}

h1, h2 {
  color: #fff;
}

h1 {
  margin-top: 150px;
  font-size: 500%;
}

#welcome-section p {
  font-family: 'Inconsolata', monospace;
  color: #191970;
  font-size: 250%;
  margin-top: 5px;
}

#projects {
  background-color: #43A6C6;
  width: 100%;
  height: auto;
  padding: 90px 20px; 
}

.grid {
  width: 100%;
  height: auto;
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.project-tile {  
  display: grid;
  grid-row-gap: 0;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

.project-tile a img {
  display: block;
}

.project-tile p {           
  font-family: inherit;
  color: #fff;
  background-color: #333;
  padding: 25px 0;
  font-size: 120%;
  margin-top: 0;
}

.grid a:link {
  text-decoration: none !important;
} 

header {
  display: flex;
  background-color: #191970;
  color: #ffffff;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  width: 100%;
  height: 17vh;
}

.nav-links {
  list-style: none;
  margin: 7.5px 20px;
  font-size: 135%;
}

.nav-links li {
  display: inline-block;
  padding: 20px 0;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  padding: 7vh 20px 4.5vh 20px;
  transform: all 0.3s ease 0s;
}

.nav-links li a:hover {
  background-color: #1D4200;
}

h2 {
  margin-top: 25px;
  padding: 0 5px 3px 5px; 
  font-size: 250%;
}

#contact {
  width: 100%;
  height: auto;
  background-color: black;
  text-align: center;
  padding-bottom: 100px;
}

#contact h1 {
  margin-bottom: 0;
}

#contact p {
  color: #fff;
  margin-top: 7px;
  font-size: 150%;
  font-style: italic;
}

.contact-icons {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 48px;
  margin-top: 50px;
  padding: 0 10px;
}

.icons {
  padding: 0 20px;
  cursor: pointer;
  transition: transform 0.3s ease 0s;
}

.icons:hover {
  transform: translateY(10px);
}

footer {
  background-color: black;
  color: #fff;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 3px;
  padding: 30px 30px 40px 30px;
}

.textA {
  width: 70%;
}

.textA span {
  font-style: italic;
}

.textB {
  width: 30%;
}